@font-face {
  font-family: "Corben-Bold";
  src: url(/assets/font/Corben/Corben-Bold.ttf)
}

@font-face {
  font-family: "MijaW03-Bold";
  src: url("//db.onlinewebfonts.com/t/7bd7f049ab12f7efc10d48e5fa57a618.eot");
  src: url("//db.onlinewebfonts.com/t/7bd7f049ab12f7efc10d48e5fa57a618.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7bd7f049ab12f7efc10d48e5fa57a618.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7bd7f049ab12f7efc10d48e5fa57a618.woff") format("woff"), url("//db.onlinewebfonts.com/t/7bd7f049ab12f7efc10d48e5fa57a618.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7bd7f049ab12f7efc10d48e5fa57a618.svg#MijaW03-Bold") format("svg");
}

@font-face {
  font-family: "Corben-Regular";
  src: url(/assets/font/Corben/Corben-Regular.ttf);
}

:root {
  box-sizing: border-box;
  font-family: MijaW03-Bold, sans-serif;
}

.navbar {
  background-color: red;
  font-size: 20px;
  height: 120px;
  font-family: MijaW03-Bold, sans-serif;
  font-weight: bold;
}

.navbar ul img {
  position: relative;
  bottom: 30px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-top: 45px;
}

.navbar ul input {
  height: 60px;
  font-size: 22px;
  font-family: MijaW03-Bold, sans-serif;
  position: relative;
  bottom: 10px;
  background-image: url(/assets/magnifier-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding-left: 3em;
  border-radius: 11px;
}

.navbar ul a {
  text-decoration: none;
  color: white;

}

.navbar ul a:hover {
  border: 2px solid rgba(0, 0, 0, .15);
  background-color: rgba(0, 0, 0, .15);
  border-radius: 11px;
  height: 25px;
}

h1 {
  font-family: MijaW03-Bold, sans-serif;
  text-align: center;
  font-size: 45px;
  color: white;
}

.background-color {
  background-color: red;
}

.switch {
  position: relative;
  float: right;
  bottom: 8em;
  border: 1px solid white;
  border-radius: 11px;
  color: white;
  width: auto;
}

.hashtags-links a {
  text-decoration: none;
  color: white;
}

.font-family {
  width: 100%;
  color: white;
  font-family: MijaW03-Bold, sans-serif;
  background-color: red;
  padding-left: 120px;
  padding-top: 70px;
  line-height: 1em;
}

.font-family h3 {
  font-size: 25px;
}

.font-family span {
  font-weight: lighter;
  font-style: italic;
  font-size: 20px;
}

.font-family h2 {
  font-size: 44px;
  line-height: 20px;
}

.grid-container {
  display: flex;
}

.test {
  display: flex;
}

.test img {
  width: 73px;
}

.first-row-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.second-row-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.third-row-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.arrow {
  font-size: 50px;
  text-decoration: none;
  color: white;
}

.about-membership {
  background-color: violet;
  width: 100%;
}

.membership-container {
  padding-top: 1em;
  height: 20em;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  text-align: left;
  inline-size: 50em;
  left: 150px;
  color: white;
}

.line-height {
  line-height: 2.2em;
}

.membership-container button {
  font-size: 16px;
  font-family: MijaW03-Bold, sans-serif;
  color: white;
  background-color: #41b14f;
  width: 18em;
  padding: 1em;
  border-radius: 11px;
}

.membership-container img {
  float: right;
  transform: rotate(-15deg);
  bottom: 3em;
  position: relative;
  width: 11em;
}

.arrow-line-height {
  margin-top: 10em;
  padding-bottom: 1em;
}
.arrow-line-height2 {
  margin-top: 3em;
  padding-bottom: 1em;
}

.arrow2 {
  font-size: 2em;
  color: white;
  text-decoration: none;
}
.container-lastest-posts {
  display: flex;
}
.container-lastest-posts div {
 width: 100%;
}

.posts {
  padding-top: 50px;
  padding: 3em;
  background-color: burlywood;
  border: 1px solid blue;
}

.posts h1 {
  text-align: left;
  color: black;
  text-decoration: underline;
  font-size: 1.9em;
}
.posts span {
  text-decoration: underline;
}

.posts p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.9em;
}

.features-members {
  border-radius: 30px;
  text-align: center;
  color: white;
  background-color: red;
}

.features-members img {
  width: 15em;
}

.features-members button {
  font-family: MijaW03-Bold, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: blue;
  padding: 0.5em;
  border-radius: 11px;
}

.features-members h3 {
  font-size: 3em;
  text-decoration: underline;
  text-decoration-color: #f0f0f09a;
  margin: 0px 0px 0px 0px;
}

.features-members p {
  font-size: 20px;
}

.support-ad {
  padding: 0em 3em 3em 3em;
  text-align: center;
}

.support-ad h5{
  text-align: center;  
}

.support-ad img {
  width: 15em;
}

.support-ad div {
  border: 0.1em solid #000;
  border-radius: 11px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.support-ad button {
  padding: 10px;
  color: white;
  background-color: gray;
  border-radius: 11px;
}

.support-ad p {
  font-size: 18px;
}

.newsletter-section img {
  width: 100px;
}

.footer-bar img {
  width: 100px;
}